.chat-main
  .chat-main__group
    .chat-main__group--info
      .group-name
        test
        .user-name
          Menber : name
      = link_to "#", class: "edit-btn" do
        edit
  .chat-main__message--list
    .chat
      .chat__name
        fushi
        .chat__date
          2019/11/20(wed)1:43:01
      .chat__message
        おはよう
      .chat__name
        fushi
        .chat__date
          2019/11/20(wed)1:43:01
      .chat__message
        ああ    
  .chat-main__message--form
    .form
      %form.message
      .form-box
        %input{type: "text", placeholder: "type a text", class: "form-box__input"}
        %label{class: "form-box__image"}
          =icon('fas', 'image')
          %input{type: "file", class: "form-box__image__file"}
      %input{type: "submit", value: "Send", class: "form-box-btn"}