.side-bar
  .header
    .header__items
      %p.header__items--name
        fush
      .header__items--lists
        = link_to "#", class: "btn" do
          = icon('fas', 'edit', class: "icon")   
        = link_to "#", class: "btn" do
          = icon('fas', 'cog', class: "icon")
  .groups
    .group
      .group__name
        techcamp
      .group__massage
        まだメッセージがありません
      .group__name
        techcamp
      .group__massage
        まだメッセージがありません  